
.body{
  width: "500";
  height: "500";
}

.background-image {
  background-color: #FDF5E6; /* Set background color to a light beige */
  background-image: 
    linear-gradient(45deg, transparent 12%, rgba(0, 0, 0, 0.1) 12.5%, rgba(0, 0, 0, 0.1) 15%, transparent 15.5%, transparent 52%, rgba(0, 0, 0, 0.1) 52.5%, rgba(0, 0, 0, 0.1) 55%, transparent 55.5%, transparent 92%, rgba(0, 0, 0, 0.1) 92.5%, rgba(0, 0, 0, 0.1) 95%, transparent 95.5%), 
    linear-gradient(45deg, rgba(0, 0, 0, 0.1) 12%, transparent 12.5%, transparent 15%, rgba(0, 0, 0, 0.1) 15.5%, rgba(0, 0, 0, 0.1) 52%, transparent 52.5%, transparent 55%, rgba(0, 0, 0, 0.1) 55.5%, rgba(0, 0, 0, 0.1) 92%, transparent 92.5%, transparent 95%, rgba(0, 0, 0, 0.1) 95.5%);
  background-size: fill; /* Set the size of the pattern */
}


.navbar-custom {
background-color: #F1E9D7;
}

/*.metallic-green {
  background-color: #4CFF00;  Metallic Green Hex Code 
  /*border-radius: 10px;  Optional: Add border-radius for rounded corners *
  padding: 20px;  Optional: Add padding for spacing inside the element *
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  Optional: Add a subtle box shadow for depth
  color: #fff; Optional: Set text color to white for better contrast *
}

.metallic-green p {
  margin: 0;  Remove default paragraph margin for better alignment *
}*/

  p>span{
    font-family: sans-serif;
    font-size: 1.5em;
    background: linear-gradient(#043b0d,#509b57,#043b0d);
    -webkit-background-clip: text;
    color:transparent;
    font-weight: 700;
  }

  p>span:nth-child(1)
  {
    z-index: 2;   
  }

  p>span:nth-child(2)
  {
   z-index:1;
   box-shadow:1px 1px 0 #35623c , 2px 2px 0 #35623c, 3px 3px 0 #35623c, 4px 4px 0 #35623c, 5px 5px 0 #35623c, 1px 1px 0 #35623c, 6px 20px 20px rgb(21, 65, 19), -1px -1px 0 #fff;
  }

  .hometext{
  font-size: 100px;
  font-style: normal;
  font-family: 'Roboto Mono', monospace;
  font-family: 'Roboto Slab', serif;
  font-family: 'Saira Condensed', sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  }
  
  .btn-circle.btn-xl {
      background-color:#FDF5E6;
      width: 100px;
      height: 100px;
      padding: 13px 18px;
      border-radius: 60px;
      border-color: linear-gradient(#043b0d,#509b57,#043b0d) ;
      font-size: 15px;
      text-align: center;
    transition: width 2s, height 4s;
  }
  
  .btn-circle.btn-xl:hover {
    width: 250px;
    height: 250px;
    background-color:#FDF5E6;
    font-size: 30px;
  }
  
  .btn-arrow-right,
  .btn-arrow-left {
     position: relative;
     padding-left: 18px;
     padding-right: 18px;
  }
  
  .btn-arrow-right {
     padding-left: 36px;
  }
  
  .btn-arrow-left {
     padding-right: 36px;
  }
  
  .btn-arrow-right:before,
  .btn-arrow-right:after,
  .btn-arrow-left:before,
  .btn-arrow-left:after {
     /* make two squares (before and after), looking similar to the button */
     
     content: "";
     position: absolute;
     top: 5px;
     /* move it down because of rounded corners */
     
     width: 25px;
     /* same as height */
     
     height: 25px;
     /* button_outer_height / sqrt(2) */
     
     background: inherit;
     /* use parent background */
     
     border: inherit;
     /* use parent border */
     
     border-left-color: transparent;
     /* hide left border */
     
     border-bottom-color: transparent;
     /* hide bottom border */
     
     border-radius: 0px 4px 0px 0px;
     /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
     
     -webkit-border-radius: 0px 4px 0px 0px;
     -moz-border-radius: 0px 4px 0px 0px;
  }
  
  .btn-arrow-right:before,
  .btn-arrow-right:after {
     transform: rotate(45deg);
     /* rotate right arrow squares 45 deg to point right */
     
     -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
     -o-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
  }
  
  .btn-arrow-left:before,
  .btn-arrow-left:after {
     transform: rotate(225deg);
     /* rotate left arrow squares 225 deg to point left */
     
     -webkit-transform: rotate(225deg);
     -moz-transform: rotate(225deg);
     -o-transform: rotate(225deg);
     -ms-transform: rotate(225deg);
  }
  
  .btn-arrow-right:before,
  .btn-arrow-left:before {
     /* align the "before" square to the left */
     
     left: -14px;
  }
  
  .btn-arrow-right:after,
  .btn-arrow-left:after {
     /* align the "after" square to the right */
     
     right: -11px;
  }
  
  .btn-arrow-right:after,
  .btn-arrow-left:before {
     /* bring arrow pointers to front */
     
     z-index: 1;
  }
  
  .btn-arrow-right:before,
  .btn-arrow-left:after {
     /* hide arrow tails background */
     
     background-color: transparent;
  }
  
  .table {
    margin-left: 600px;
  }
  
  .card-body {
    background-color:#255957;
    border-color:#255957;
    height: 100%;
  }
   
